
@* <form action="/instructors/infosignin" method="post">

    <div class="form-group">
        <label asp-for="Name"> </label>
        <input class="form-control" asp-for="Name">
    </div>
    <div class="form-group">
        <label for="Image">instructor Image </label>
        <input class="form-control" asp-for="Image">
    </div>
    <div class="form-group">
        <label for="Salary">instructor salray </label>
        <input type="text" class="form-control" name="Salary" id="Salary">
    </div>

    <div class="form-group">
        <label for="Address">Address:</label>
        <input class="form-control" asp-for="Address">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
 *@
@model Instructors
<form asp-action="infosignin" asp-controller="instructors" method="post">


    <div class="form-group">
        <label asp-for="Name"> </label>
        <input class="form-control" asp-for="Name">
    </div>
    <div class="form-group">
        <label asp-for="Image">instructor Image </label>
        <input class="form-control" asp-for="Image">
    </div>
    <div class="form-group">
        <label asp-for="Salary">instructor salray </label>
        <input asp-for="Salary" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Address">Address:</label>
        <input class="form-control" asp-for="Address">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>







</form>

