@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
            <div class="text-black text-center">

       <h3>here you can mange all the instructors and departments and courses </h3>
    </div>

</div>
