@model Last_version_of_school_management_system.Models.Mymodels.Instructors

@{
    ViewData["Title"] = "addnew";
}

<h1>addnew</h1>

<h4>Add New Instructor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="addnew">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="deptartment_id" class="control-label"></label>
                <input asp-for="deptartment_id" class="form-control" />
                <span asp-validation-for="deptartment_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="course_id" class="control-label"></label>
                <input asp-for="course_id" class="form-control" />
                <span asp-validation-for="course_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
