<div class="container" style=" display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; ">


    <form asp-action="delete" asp-controller="Instructor">
        <label for="id">Enter the Id of the instructor To Delete </label>

        <input type="number" class="input-group text-center " id="id" name="id" />
        <button type="submit" class="btn btn-success text-center ">Delete</button>
    </form>


</div>
