<div class="container" style=" display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; ">


    <form asp-action="getbyname" asp-controller="Instructor">
        <label for="name">Enter the Name of the instructor</label>

        <input type="text" class="input-group text-center " id="name" name="name" />
        <button type="submit" class="btn btn-success text-center ">Search</button>
    </form>


</div>
