<div class="container" style=" display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; ">


    <form asp-action="Getbydepartment" asp-controller="Instructor">
        <label for="id">Enter the id of the Department </label>

        <input type="number" class="input-group text-center " id="id" name="id" />
        <button type="submit" class="btn btn-success align-content-center ">Search</button>
    </form>


</div>
