@* <input type="number"  class="input-group" id="theid" name="theid"/>

<label for="theid" > enter the id of the instructor </label>


<a asp-action="getbyid" asp-controller="instructor" asp-route="" class="btn btn-success"> Search </a> *@

<div class="container" style=" display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; ">


<form asp-action="getbyid" asp-controller="Instructor" >
    <label for="id">Enter the id of the instructor</label>

    <input type="number" class="input-group text-center " id="id" name="id" />
    <button type="submit" class="btn btn-success text-center "  >Search</button>
</form>


</div>
