@model Courses

<form action="/Courses/addnewcourse2" method="post">
    <label asp-for="Name"> ENTER YOUR NAME</label>

    <input asp-for="Name"  value="enter you name here "/>

    <br />
    <label asp-for="Degree">ENTER YOUR DEGREE</label>

    <input asp-for="Degree" />

    <br />
    <br />

    <label asp-for="dept_id">ENTER YOUR dept_id</label>

    <input asp-for="dept_id" />
    <br />


    <br />
    <label asp-for="Min_degree">ENTER YOUR Min_degree</label>

    <input asp-for="Min_degree" />

    <input type="submit" class="alert-danger" value="SUBMIT" />





</form>