@{
    SelectList listaa = new SelectList(Model, "Id", "Name");

}




<select asp-items="listaa" name="dptlista" id="dptlista" onchange="Getstudentsbyid()">


    <option value="0">----select one department-----</option>
</select>

<br />
<br />
<br />
<hr />
<ul id="StdData">     </ul>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    function Getstudentsbyid() {
        var deptId = document.getElementById("dptlista").value;
        $.ajax(
            {
                url: "/Courses/getstudentsbydepartments/",
                data: { "deptid": deptId },
                success: function (result) {
                    console.log(result);
                    document.getElementById("StdData").innerHTML = "";
                    for (let std of result) {
                        document.getElementById("StdData").innerHTML +=
                            "<li>" + std.name + "</li>";
                    }
                }
            }
        );
    }

</script>

