@using Microsoft.AspNetCore.Http;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<form method="post" action="photo" enctype="multipart/form-data">


    @* here i gave it the name image to make the model binder be able to map it to the parameter with the  same name in the action  *@
    <input type="file" name="image" />

    <input type="submit" class="alert-success" />





</form>